/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

    .lines, .lines:before, .lines:after {
        background-color: #4F89A5;
    }

    .dark #footer, #footer.bg-footer, #footer.dark {
        background-color: #246683;
    }

    #footer .copyright-content {
        
        background-color: #23607b;
        
    }


    #topbar .top-menu > li > a {
        color: #b6bfc8 ;
        
    }

    #topbar {
        border-bottom: 1px solid #ebd43a8a;
    }

    .social-icons li a {
        
        color: #b6bfc8 ;
        
    }


    #mainMenu nav > ul > li > a {
        
        color: #4F89A5;
        
    }

    #mainMenu nav > ul > li .dropdown-menu > li > a, #mainMenu nav > ul > li .dropdown-menu > li > span, #mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a {
        color: rgb(36, 102, 131);
    }

    .header-extras > ul > li a, .header-extras > ul > li i {
        color: #4F89A5;
    }

    .p-dropdown a:not(.btn) {
        color: #4F89A5;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        
        color: #246683;
        
    }

   

    .post-item .post-item-description .post-meta-date, .post-item .post-item-description .post-meta-comments, .post-item .post-item-description .post-meta-category {
        color: #F7921E;
        
    }

   .blog-home {
    background-image: linear-gradient(to bottom, #ffffff 55%, #246683 55%);
    }
    
   
   .blog-home .watermark {
    bottom: -94px;
    height: 348px;
    left: 55%;
    overflow: hidden;
    position: absolute;
    transform: rotate(14deg) translateX(-50%);
    width: 100%;
    z-index: -1;
}

.watermark svg {
    height: 548px;
    left: 85%;
    max-width: none;
    position: absolute;
    transform:  translateX(-50%);
    
}

